USE [KSBL_IAM]
GO
/****** Object:  Table [dbo].[AccountControlState]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountControlState](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProvisioningActionType] [varchar](50) NULL,
	[AccountsId] [int] NOT NULL,
	[SamAccountName] [varchar](100) NULL,
	[AccountState] [varchar](100) NULL,
	[EnabledUntil] [datetime] NULL,
	[IgnoreEnabledUntil] [bit] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedOn] [datetime] NULL,
	[CompletedOn] [datetime] NULL,
 CONSTRAINT [PK_AccountControlState] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PrivisioningActionType] [varchar](50) NULL,
	[Name] [varchar](100) NULL,
	[Cn] [varchar](100) NULL,
	[SamAccountName] [varchar](100) NULL,
	[Title] [varchar](100) NULL,
	[SurName] [varchar](50) NULL,
	[GivenName] [varchar](50) NULL,
	[UserPrincipalName] [varchar](125) NULL,
	[DisplayName] [varchar](100) NULL,
	[LegacySourceDomain]  AS (replace(replace(right([DistinguishedName],len([DistinguishedName])-charindex(',DC',[DistinguishedName])),'DC=',''),',','.')),
	[Manager] [varchar](256) NULL,
	[ManagerShortName]  AS (replace(replace([dbo].[SplitPosition]([Manager],',OU=',(1)),'CN=',''),'\','')),
	[EmployeeId] [varchar](25) NULL,
	[EmployeeType] [varchar](10) NULL,
	[SmsPasscodeMobile] [varchar](100) NULL,
	[Department] [varchar](100) NULL,
	[DepartmentShort]  AS (case when left([Department],(1))='0' then right([Department],len([Department])-charindex(' ',[Department])) else [Department] end),
	[Division] [varchar](100) NULL,
	[Company] [varchar](100) NULL,
	[Description] [nvarchar](max) SPARSE  NULL,
	[StreetAddress] [varchar](100) NULL,
	[PostalCode] [varchar](10) NULL,
	[CountryState] [varchar](10) NULL,
	[City] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
	[HomePage] [varchar](50) NULL,
	[telephoneNumber] [varchar](50) NULL,
	[facsimileTelephoneNumber] [varchar](50) NULL,
	[MobilephoneNumber] [varchar](50) NULL,
	[UserAccountControl] [varchar](512) NULL,
	[PwdLastSet] [datetime] NULL,
	[LastLogonTimestamp] [datetime] NULL,
	[AccountExpires] [datetime] NULL,
	[MailNickname] [varchar](100) NULL,
	[TargetAddress] [varchar](100) NULL,
	[ExchMailboxGuid] [varchar](100) NULL,
	[ExchRecipientTypeDetails] [varchar](100) NULL,
	[ExchRecipientDisplayType] [varchar](100) NULL,
	[LegacyExchangeDN] [nvarchar](max) SPARSE  NULL,
	[ExchHideFromAddressLists] [bit] NULL,
	[Mail] [varchar](100) NULL,
	[MailName]  AS (lower([dbo].[SplitPosition]([Mail],'@',(1)))),
	[MailDomainName]  AS (lower([dbo].[SplitPosition]([Mail],'@',(2)))),
	[ProxyAddresses] [nvarchar](max) NULL,
	[AltRecipient] [varchar](512) NULL,
	[DistinguishedName] [varchar](256) NULL,
	[AdReferenceObjectGuid] [varchar](256) NULL,
	[ExtensionAttribute1] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute2] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute3] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute4] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute5] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute6] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute7] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute8] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute9] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute10] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute11] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute12] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute13] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute14] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute15] [varchar](max) SPARSE  NULL,
	[WhenCreated] [datetime] NULL,
	[WhenChanged] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedOn] [datetime] NULL,
	[hrmsBadgeFirstName] [varchar](255) NULL,
	[hrmsBadgeLastName] [varchar](255) NULL,
	[hrmsBirthdate] [varchar](255) NULL,
	[hrmsCostCenter] [varchar](255) NULL,
	[hrmsFunction] [varchar](255) NULL,
	[hrmsFunctionCategory] [varchar](255) NULL,
	[hrmsGender] [varchar](255) NULL,
	[hrmsJoinerDate] [varchar](255) NULL,
	[hrmsLeaverDate] [varchar](255) NULL,
	[hrmsMgmtLevelNumber] [varchar](255) NULL,
	[hrmsMgmtLevelNumberAdditive] [varchar](255) NULL,
	[hrmsOrgId] [varchar](255) NULL,
	[hrmsPhoneLocation] [varchar](255) NULL,
	[hrmsSKATDescription] [varchar](255) NULL,
	[hrmsSKATNumber] [varchar](255) NULL,
	[AttributeHash] [char](32) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountsToGroups]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountsToGroups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PrivisioningActionType] [varchar](50) NULL,
	[AccountsId] [int] NULL,
	[GroupsId] [int] NULL,
	[MemberName] [varchar](100) NULL,
	[MemberCategory] [varchar](100) NULL,
	[GroupName] [varchar](100) NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_AccountsToGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountsToGroups1]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountsToGroups1](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PrivisioningActionType] [varchar](50) NULL,
	[AccountsId] [int] NULL,
	[GroupsId] [int] NULL,
	[MemberName] [varchar](100) NULL,
	[MemberCategory] [varchar](100) NULL,
	[GroupName] [varchar](100) NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedOn] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADMigrationSchedule]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMigrationSchedule](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [varchar](100) NULL,
	[MigrationScheduled] [datetime] NULL,
 CONSTRAINT [PK_ADMigrationSchedule] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Configuration]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configuration](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InternalUserId] [varchar](50) NULL,
	[NextInternalUserId]  AS ('us'+CONVERT([varchar](30),CONVERT([int],replace([InternalUserId],'us',''),(0))+(1),(0))),
	[ExternalUserId] [varchar](50) NULL,
	[NextExternalUserId]  AS (case when len(CONVERT([int],replace([externaluserid],'ex',''),(0))+(1))=(1) then 'ex0000'+CONVERT([varchar](30),CONVERT([int],replace([externaluserid],'ex',''),(0))+(1),0) when len(CONVERT([int],replace([externaluserid],'ex',''),(0))+(1))=(2) then 'ex000'+CONVERT([varchar](30),CONVERT([int],replace([externaluserid],'ex',''),(0))+(1),0) when len(CONVERT([int],replace([externaluserid],'ex',''),(0))+(1))=(3) then 'ex00'+CONVERT([varchar](30),CONVERT([int],replace([externaluserid],'ex',''),(0))+(1),0) when len(CONVERT([int],replace([externaluserid],'ex',''),(0))+(1))=(4) then 'ex0'+CONVERT([varchar](30),CONVERT([int],replace([externaluserid],'ex',''),(0))+(1),0)  end),
	[DistributionId] [varchar](50) NULL,
	[NextDistributionId] [nchar](10) NULL,
	[GroupMailboxId] [varchar](50) NULL,
	[NextGroupMailboxId] [nchar](10) NULL,
 CONSTRAINT [PK_Configuration] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Configuration1]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configuration1](
	[InternalUserId] [varchar](50) NULL,
	[NextInternalUserId]  AS ('us'+CONVERT([varchar](30),CONVERT([int],replace([InternalUserId],'us',''),(0))+(1),(0))),
	[ExternalUserId] [varchar](50) NULL,
	[NextExternalUserId]  AS (case when len(CONVERT([int],replace([externaluserid],'ex',''),(0))+(1))=(1) then 'ex0000'+CONVERT([varchar](30),CONVERT([int],replace([externaluserid],'ex',''),(0))+(1),(0)) when len(CONVERT([int],replace([externaluserid],'ex',''),(0))+(1))=(2) then 'ex000'+CONVERT([varchar](30),CONVERT([int],replace([externaluserid],'ex',''),(0))+(1),(0)) when len(CONVERT([int],replace([externaluserid],'ex',''),(0))+(1))=(3) then 'ex00'+CONVERT([varchar](30),CONVERT([int],replace([externaluserid],'ex',''),(0))+(1),(0)) when len(CONVERT([int],replace([externaluserid],'ex',''),(0))+(1))=(4) then 'ex0'+CONVERT([varchar](30),CONVERT([int],replace([externaluserid],'ex',''),(0))+(1),(0))  end),
	[DistributionId] [varchar](50) NULL,
	[NextDistributionId] [nchar](10) NULL,
	[GroupMailboxId] [varchar](50) NULL,
	[NextGroupMailboxId] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Abteilung] [nvarchar](255) NULL,
	[Gruppen] [nvarchar](max) NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PERS_NR] [varchar](20) NOT NULL,
	[ANREDE] [varchar](50) NULL,
	[NAME] [varchar](50) NULL,
	[VORNAME] [varchar](50) NULL,
	[TELEFON1] [varchar](40) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeTypes]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeTypeName] [varchar](50) NULL,
	[SortOrderId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PrivisioningActionType] [varchar](50) NULL,
	[Name] [varchar](100) NULL,
	[Cn] [varchar](100) NULL,
	[SamAccountName] [varchar](100) NULL,
	[DisplayName] [varchar](100) NULL,
	[LegacySourceDomain] [varchar](100) NULL,
	[Manager] [varchar](256) NULL,
	[ManagerShortName]  AS (replace(replace([dbo].[SplitPosition]([Manager],',OU=',(1)),'CN=',''),'\','')),
	[GroupType] [varchar](1024) NULL,
	[GroupTypeTranslated]  AS (case [groupType] when '-2147483643' then 'Builtin_Group' when '-2147483640' then 'Universal_Security_Group' when '-2147483646' then 'Global_Security_Group' when '-2147483644' then 'Domain_Local_Security_Group' when '8' then 'Universal_Distribution_Group' when '2' then 'Global_Distribution_Group' when '4' then 'Domain_Local_Distribution_Group'  end),
	[Info] [nvarchar](max) SPARSE  NULL,
	[MailNickname] [varchar](100) NULL,
	[TargetAddress] [varchar](100) NULL,
	[LegacyExchangeDN] [varchar](256) NULL,
	[ExchHideFromAddressLists] [bit] NULL,
	[Mail] [varchar](100) NULL,
	[MailName]  AS (lower([dbo].[SplitPosition]([Mail],'@',(1)))),
	[MailDomainName]  AS (lower([dbo].[SplitPosition]([Mail],'@',(2)))),
	[ProxyAddresses] [nvarchar](max) SPARSE  NULL,
	[AuthOrig] [nvarchar](max) SPARSE  NULL,
	[UnauthOrig] [nvarchar](max) SPARSE  NULL,
	[MemSubmitPerms] [nvarchar](max) SPARSE  NULL,
	[MemRejectPerms] [nvarchar](max) SPARSE  NULL,
	[DistinguishedName] [varchar](256) NULL,
	[AdReferenceObjectGuid] [varchar](256) NULL,
	[ExtensionAttribute1] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute2] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute3] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute4] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute5] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute6] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute7] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute8] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute9] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute10] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute11] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute12] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute13] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute14] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute15] [varchar](max) SPARSE  NULL,
	[WhenCreated] [datetime] NULL,
	[WhenChanged] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hist_MailboxPermissions]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hist_MailboxPermissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GmbName] [varchar](512) NULL,
	[GmbDisplayName] [varchar](512) NULL,
	[TrusteeName] [varchar](512) NULL,
	[TrusteeDisplayName] [varchar](512) NULL,
	[AcePermission] [varchar](512) NULL,
	[ModificationType] [varchar](512) NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_hist_MailboxPermissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hlp_Accounts]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hlp_Accounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NextSamAccountName] [varchar](50) NULL,
 CONSTRAINT [PK_hlp_Accounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IamSyncControl]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IamSyncControl](
	[SyncName] [nvarchar](100) NOT NULL,
	[LastSyncDate] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SyncName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IamTransactions]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IamTransactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SourceTable] [varchar](50) NULL,
	[InternalActionType] [varchar](5) NULL,
	[PrivisioningActionType] [varchar](50) NULL,
	[Name] [varchar](100) NULL,
	[Cn] [varchar](100) NULL,
	[SamAccountName] [varchar](100) NULL,
	[SurName] [varchar](50) NULL,
	[GivenName] [varchar](50) NULL,
	[UserPrincipalName] [varchar](125) NULL,
	[DisplayName] [varchar](100) NULL,
	[LegacySourceDomain] [varchar](100) NULL,
	[Manager] [varchar](256) NULL,
	[ManagerShortName] [nvarchar](max) NULL,
	[GroupType] [varchar](1024) NULL,
	[GroupTypeTranslated] [varchar](50) NULL,
	[EmployeeId] [varchar](25) NULL,
	[EmployeeType] [varchar](10) NULL,
	[Department] [varchar](100) NULL,
	[Division] [varchar](100) NULL,
	[Company] [varchar](100) NULL,
	[StreetAddress] [varchar](100) NULL,
	[PostalCode] [varchar](10) NULL,
	[CountryState] [varchar](10) NULL,
	[City] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
	[HomePage] [varchar](50) NULL,
	[telephoneNumber] [varchar](50) NULL,
	[facsimileTelephoneNumber] [varchar](50) NULL,
	[MobilephoneNumber] [varchar](50) NULL,
	[UserAccountControl] [varchar](512) NULL,
	[PwdLastSet] [datetime] NULL,
	[LastLogonTimestamp] [datetime] NULL,
	[AccountExpires] [datetime] NULL,
	[MailNickname] [varchar](100) NULL,
	[TargetAddress] [varchar](100) NULL,
	[ExchMailboxGuid] [varchar](100) NULL,
	[ExchRecipientTypeDetails] [varchar](100) NULL,
	[ExchRecipientDisplayType] [varchar](100) NULL,
	[ExchHideFromAddressLists] [bit] NULL,
	[Mail] [varchar](100) NULL,
	[MailName] [nvarchar](max) NULL,
	[MailDomainName] [nvarchar](max) NULL,
	[ProxyAddresses] [nvarchar](max) NULL,
	[AltRecipient] [varchar](512) NULL,
	[TrusteeName] [varchar](100) NULL,
	[TrusteeDomain] [varchar](20) NULL,
	[AcePermissions] [nvarchar](max) NULL,
	[ManagerId] [int] NULL,
	[MemberId] [int] NULL,
	[GroupsId] [int] NULL,
	[DistinguishedName] [varchar](256) NULL,
	[AdReferenceObjectGuid] [varchar](256) NULL,
	[WhenCreated] [datetime] NULL,
	[WhenChanged] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_IamTransactions_new] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MailboxFolderPermissions]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MailboxFolderPermissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FolderAce] [varchar](50) NULL,
 CONSTRAINT [PK_MailboxFolderPermissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MailboxPermissions]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MailboxPermissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PrivisioningActionType] [varchar](50) NULL,
	[Name] [varchar](100) NULL,
	[TrusteeName] [varchar](100) NULL,
	[TrusteeDomain] [varchar](50) NULL,
	[AcePermissions] [nvarchar](max) NULL,
	[DistinguishedName] [varchar](256) NULL,
	[ExchHideFromAddressLists] [bit] NULL,
	[AdReferenceObjectGuid] [varchar](256) NULL,
	[ModifiedBy] [nvarchar](128) NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_MailboxPermissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManagersToGroups]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagersToGroups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PrivisioningActionType] [varchar](50) NULL,
	[AccountsId] [int] NULL,
	[GroupsId] [int] NULL,
	[ManagerName] [varchar](100) NULL,
	[GroupName] [varchar](100) NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_ManagersToGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[person_temp]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[person_temp](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Personalnummer] [varchar](50) NULL,
	[WindowsLogin] [varchar](250) NULL,
	[WindowsAccountState] [varchar](250) NULL,
	[WindowsAccountStateTranslated] [varchar](8) NULL,
	[WindowsLastLogin] [datetime] NULL,
	[WindowsPwdLastChanged] [datetime] NULL,
	[WindowsAccountExpires] [datetime] NULL,
	[WindowsExtAttrib11] [varchar](250) NULL,
	[Status] [varchar](7) NULL,
	[Vor/Nachname] [varchar](1001) NULL,
	[Kst Standort] [varchar](250) NULL,
	[Standort] [varchar](250) NULL,
	[Kostenstelle] [varchar](250) NULL,
	[Organisationseinheit] [varchar](500) NULL,
	[Tätigkeit] [varchar](500) NULL,
	[Eintrittsdatum] [date] NULL,
	[Austrittsdatum] [date] NULL,
	[Geburtsdatum] [varchar](50) NULL,
	[MitarbeiterTyp] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Personalnummer] [varchar](50) NULL,
	[WindowsLogin] [varchar](250) NULL,
	[WindowsAccountState] [varchar](250) NULL,
	[WindowsAccountStateTranslated]  AS (case when [WindowsAccountState] like '%ACCOUNTDISABLE%' then 'Disabled' when [WindowsAccountState] IS NULL then NULL else 'Enabled' end),
	[WindowsLastLogin] [datetime] NULL,
	[WindowsPwdLastChanged] [datetime] NULL,
	[WindowsAccountExpires] [datetime] NULL,
	[WindowsExtAttrib11] [varchar](250) NULL,
	[WindowsEmployeeType] [varchar](5) NULL,
	[Status] [varchar](7) NULL,
	[Vorname] [varchar](1001) NULL,
	[Nachname] [varchar](1001) NULL,
	[Vor/Nachname] [varchar](1001) NULL,
	[Kst Standort] [varchar](250) NULL,
	[Standort] [varchar](250) NULL,
	[Kostenstelle] [varchar](250) NULL,
	[Organisationseinheit] [varchar](500) NULL,
	[Tätigkeit] [varchar](500) NULL,
	[Eintrittsdatum] [date] NULL,
	[Austrittsdatum] [date] NULL,
	[Geburtsdatum] [varchar](50) NULL,
	[MitarbeiterTyp] [varchar](50) NULL,
 CONSTRAINT [PK_Persons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonsDuplicates]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonsDuplicates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Personalnummer] [varchar](50) NULL,
	[Personalnummer_M2] [varchar](50) NULL,
	[AD_Benutzer] [nvarchar](max) NULL,
	[AD_Benutzer_M2] [nvarchar](max) NULL,
	[Benutzer_Status] [varchar](8) NULL,
	[Benutzer_Status_M2] [varchar](8) NULL,
	[Ganzer_Name] [nvarchar](513) NULL,
	[Ganzer_Name_M2] [nvarchar](513) NULL,
	[Geburtsdatum] [varchar](50) NULL,
	[Geburtsdatum_M2] [varchar](50) NULL,
	[Organisationseinheit] [varchar](500) NULL,
	[Organisationseinheit_M2] [varchar](500) NULL,
	[Eintrittsdatum] [date] NULL,
	[Eintrittsdatum_M2] [date] NULL,
	[Austrittsdatum] [date] NULL,
	[Austrittsdatum_M2] [date] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonsHistory]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonsHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImportDate] [date] NULL,
	[Personalnummer] [varchar](50) NULL,
	[Mitarbeiterstatus] [varchar](9) NULL,
	[Ganzer_Name] [varchar](1001) NULL,
	[Eintrittsdatum] [date] NULL,
	[Austrittsdatum] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleTemplates]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleTemplates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Standort] [nvarchar](255) NULL,
	[Abteilung] [nvarchar](255) NULL,
	[Funktion] [nvarchar](255) NULL,
	[Template] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SamAccountNameTracker]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SamAccountNameTracker](
	[LastUsedSamAccountName] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sql_profile_traces]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sql_profile_traces](
	[RowNumber] [int] IDENTITY(0,1) NOT NULL,
	[EventClass] [int] NULL,
	[TextData] [ntext] NULL,
	[ApplicationName] [nvarchar](128) NULL,
	[NTUserName] [nvarchar](128) NULL,
	[LoginName] [nvarchar](128) NULL,
	[CPU] [int] NULL,
	[Reads] [bigint] NULL,
	[Writes] [bigint] NULL,
	[Duration] [bigint] NULL,
	[ClientProcessID] [int] NULL,
	[SPID] [int] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[BinaryData] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[RowNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stg_Accounts]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_Accounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Cn] [varchar](100) NOT NULL,
	[SamAccountName] [varchar](100) NOT NULL,
	[Title] [varchar](50) NULL,
	[SurName] [varchar](50) NULL,
	[GivenName] [varchar](50) NULL,
	[UserPrincipalName] [varchar](125) NULL,
	[DisplayName] [varchar](100) NULL,
	[Manager] [varchar](256) NULL,
	[ManagerShortName]  AS (replace(replace([dbo].[SplitPosition]([Manager],',OU=',(1)),'CN=',''),'\','')),
	[EmployeeId] [varchar](25) NULL,
	[EmployeeType] [varchar](10) NULL,
	[SmsPasscodeMobile] [varchar](100) NULL,
	[Department] [varchar](100) NULL,
	[Division] [varchar](100) NULL,
	[Company] [varchar](100) NULL,
	[Description] [nvarchar](max) SPARSE  NULL,
	[StreetAddress] [varchar](100) NULL,
	[PostalCode] [varchar](10) NULL,
	[CountryState] [varchar](10) NULL,
	[City] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
	[HomePage] [varchar](50) NULL,
	[telephoneNumber] [varchar](50) NULL,
	[facsimileTelephoneNumber] [varchar](50) NULL,
	[MobilephoneNumber] [varchar](50) NULL,
	[UserAccountControl] [varchar](512) NOT NULL,
	[PwdLastSet] [datetime] NOT NULL,
	[LastLogonTimestamp] [datetime] NOT NULL,
	[AccountExpires] [datetime] NOT NULL,
	[MailNickname] [varchar](100) NULL,
	[TargetAddress] [varchar](100) NULL,
	[ExchMailboxGuid] [varchar](100) NULL,
	[ExchRecipientTypeDetails] [varchar](100) NULL,
	[ExchRecipientDisplayType] [varchar](100) NULL,
	[LegacyExchangeDN] [nvarchar](max) SPARSE  NULL,
	[ExchHideFromAddressLists] [bit] NULL,
	[Mail] [varchar](100) NULL,
	[MailName]  AS (lower([dbo].[SplitPosition]([Mail],'@',(1)))),
	[MailDomainName]  AS (lower([dbo].[SplitPosition]([Mail],'@',(2)))),
	[ProxyAddresses] [nvarchar](max) NULL,
	[AltRecipient] [varchar](512) NULL,
	[DistinguishedName] [varchar](256) NOT NULL,
	[AdReferenceObjectGuid] [varchar](256) NOT NULL,
	[ExtensionAttribute1] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute2] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute3] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute4] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute5] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute6] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute7] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute8] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute9] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute10] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute11] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute12] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute13] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute14] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute15] [varchar](max) SPARSE  NULL,
	[WhenCreated] [datetime] NOT NULL,
	[WhenChanged] [datetime] NOT NULL,
	[StagingInserted] [datetime] NOT NULL,
	[hrmsBadgeFirstName] [varchar](255) NULL,
	[hrmsBadgeLastName] [varchar](255) NULL,
	[hrmsBirthdate] [varchar](255) NULL,
	[hrmsCostCenter] [varchar](255) NULL,
	[hrmsFunction] [varchar](255) NULL,
	[hrmsFunctionCategory] [varchar](255) NULL,
	[hrmsGender] [varchar](255) NULL,
	[hrmsJoinerDate] [varchar](255) NULL,
	[hrmsLeaverDate] [varchar](255) NULL,
	[hrmsMgmtLevelNumber] [varchar](255) NULL,
	[hrmsMgmtLevelNumberAdditive] [varchar](255) NULL,
	[hrmsOrgId] [varchar](255) NULL,
	[hrmsPhoneLocation] [varchar](255) NULL,
	[hrmsSKATDescription] [varchar](255) NULL,
	[hrmsSKATNumber] [varchar](255) NULL,
 CONSTRAINT [PK_AccountMailboxID] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stg_GroupManagers]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_GroupManagers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GroupDistinguishedName] [varchar](512) NOT NULL,
	[GroupSamAccountName] [varchar](512) NOT NULL,
	[ManagerDistinguishedName] [varchar](512) NOT NULL,
	[ManagerSamAccountName] [varchar](512) NOT NULL,
	[ManagerCategory] [varchar](512) NOT NULL,
	[StagingInserted] [datetime] NOT NULL,
 CONSTRAINT [PK_stg_GroupManagers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stg_GroupMembers]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_GroupMembers](
	[GroupDistinguishedName] [varchar](512) NULL,
	[GroupSamAccountName] [varchar](512) NULL,
	[MemberDistinguishedName] [varchar](512) NULL,
	[MemberSamAccountName] [varchar](512) NULL,
	[MemberCategory] [varchar](512) NULL,
	[StagingInserted] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stg_Groups]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_Groups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Cn] [varchar](100) NOT NULL,
	[SamAccountName] [varchar](100) NOT NULL,
	[DisplayName] [varchar](100) NULL,
	[LegacySourceDomain]  AS (replace(replace(right([DistinguishedName],len([DistinguishedName])-charindex(',DC',[DistinguishedName])),'DC=',''),',','.')),
	[Manager] [varchar](256) NULL,
	[ManagerShortName]  AS (replace(replace([dbo].[SplitPosition]([Manager],',OU=',(1)),'CN=',''),'\','')),
	[GroupType] [varchar](1024) NULL,
	[GroupTypeTranslated]  AS (case [groupType] when '-2147483643' then 'Builtin_Group' when '-2147483640' then 'Universal_Security_Group' when '-2147483646' then 'Global_Security_Group' when '-2147483644' then 'Domain_Local_Security_Group' when '8' then 'Universal_Distribution_Group' when '2' then 'Global_Distribution_Group' when '4' then 'Domain_Local_Distribution_Group'  end),
	[Info] [nvarchar](max) SPARSE  NULL,
	[MailNickname] [varchar](100) NULL,
	[TargetAddress] [varchar](100) NULL,
	[LegacyExchangeDN] [varchar](256) NULL,
	[ExchHideFromAddressLists] [bit] NULL,
	[Mail] [varchar](100) NULL,
	[MailName]  AS (lower([dbo].[SplitPosition]([Mail],'@',(1)))),
	[MailDomainName]  AS (lower([dbo].[SplitPosition]([Mail],'@',(2)))),
	[ProxyAddresses] [nvarchar](max) SPARSE  NULL,
	[AuthOrig] [nvarchar](max) SPARSE  NULL,
	[UnauthOrig] [nvarchar](max) SPARSE  NULL,
	[MemSubmitPerms] [nvarchar](max) SPARSE  NULL,
	[MemRejectPerms] [nvarchar](max) SPARSE  NULL,
	[DistinguishedName] [varchar](256) NOT NULL,
	[AdReferenceObjectGuid] [varchar](256) NOT NULL,
	[ExtensionAttribute1] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute2] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute3] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute4] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute5] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute6] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute7] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute8] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute9] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute10] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute11] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute12] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute13] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute14] [varchar](max) SPARSE  NULL,
	[ExtensionAttribute15] [varchar](max) SPARSE  NULL,
	[WhenCreated] [datetime] NULL,
	[WhenChanged] [datetime] NULL,
	[StagingInserted] [datetime] NOT NULL,
 CONSTRAINT [PK_stg_Groups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stg_MailboxPermissions]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_MailboxPermissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[TrusteeName] [varchar](100) NOT NULL,
	[TrusteeDomain] [varchar](50) NOT NULL,
	[ObjectClass] [varchar](50) NULL,
	[AcePermissions] [nvarchar](max) NOT NULL,
	[DistinguishedName] [varchar](256) NOT NULL,
	[ExchHideFromAddressLists] [bit] NULL,
	[AdReferenceObjectGuid] [varchar](256) NOT NULL,
	[StagingInserted] [datetime] NOT NULL,
 CONSTRAINT [PK_stg_MailboxPermissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stg_Persons]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_Persons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Personalnummer] [varchar](50) NULL,
	[WindowsLogin] [varchar](250) NULL,
	[WindowsAccountState] [varchar](250) NULL,
	[WindowsLastLogin] [datetime] NULL,
	[WindowsPwdLastChanged] [datetime] NULL,
	[WindowsAccountExpires] [datetime] NULL,
	[WindowsExtAttrib11] [varchar](250) NULL,
	[WindowsEmployeeType] [varchar](5) NULL,
	[Status] [varchar](7) NULL,
	[Vorname] [varchar](1001) NULL,
	[Nachname] [varchar](1001) NULL,
	[Vor/Nachname] [varchar](1001) NULL,
	[Kst Standort] [varchar](250) NULL,
	[Standort] [varchar](250) NULL,
	[Kostenstelle] [varchar](250) NULL,
	[Organisationseinheit] [varchar](500) NULL,
	[Tätigkeit] [varchar](500) NULL,
	[Eintrittsdatum] [date] NULL,
	[Austrittsdatum] [date] NULL,
	[Geburtsdatum] [varchar](50) NULL,
	[MitarbeiterTyp] [varchar](50) NULL,
 CONSTRAINT [PK_stg_Persons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stg_UsersBackfeed_AccountsDelta]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_UsersBackfeed_AccountsDelta](
	[AdReferenceObjectGuid] [varchar](256) NOT NULL,
	[Name] [varchar](100) NULL,
	[Cn] [varchar](100) NULL,
	[SamAccountName] [varchar](100) NULL,
	[Title] [varchar](100) NULL,
	[SurName] [varchar](50) NULL,
	[GivenName] [varchar](50) NULL,
	[UserPrincipalName] [varchar](125) NULL,
	[DisplayName] [varchar](100) NULL,
	[Manager] [varchar](256) NULL,
	[EmployeeId] [varchar](25) NULL,
	[EmployeeType] [varchar](10) NULL,
	[SmsPasscodeMobile] [varchar](100) NULL,
	[Department] [varchar](100) NULL,
	[Division] [varchar](100) NULL,
	[Company] [varchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[StreetAddress] [varchar](100) NULL,
	[PostalCode] [varchar](10) NULL,
	[CountryState] [varchar](10) NULL,
	[City] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
	[HomePage] [varchar](50) NULL,
	[telephoneNumber] [varchar](50) NULL,
	[facsimileTelephoneNumber] [varchar](50) NULL,
	[MobilephoneNumber] [varchar](50) NULL,
	[UserAccountControl] [varchar](512) NULL,
	[PwdLastSet] [datetime] NULL,
	[LastLogonTimestamp] [datetime] NULL,
	[AccountExpires] [datetime] NULL,
	[MailNickname] [varchar](100) NULL,
	[TargetAddress] [varchar](100) NULL,
	[ExchMailboxGuid] [varchar](100) NULL,
	[ExchRecipientTypeDetails] [varchar](100) NULL,
	[ExchRecipientDisplayType] [varchar](100) NULL,
	[LegacyExchangeDN] [nvarchar](max) NULL,
	[ExchHideFromAddressLists] [bit] NULL,
	[Mail] [varchar](100) NULL,
	[ProxyAddresses] [nvarchar](max) NULL,
	[AltRecipient] [varchar](512) NULL,
	[DistinguishedName] [varchar](256) NULL,
	[hrmsBadgeFirstName] [varchar](255) NULL,
	[hrmsBadgeLastName] [varchar](255) NULL,
	[hrmsBirthdate] [varchar](255) NULL,
	[hrmsCostCenter] [varchar](255) NULL,
	[hrmsFunction] [varchar](255) NULL,
	[hrmsFunctionCategory] [varchar](255) NULL,
	[hrmsGender] [varchar](255) NULL,
	[hrmsJoinerDate] [varchar](255) NULL,
	[hrmsLeaverDate] [varchar](255) NULL,
	[hrmsMgmtLevelNumber] [varchar](255) NULL,
	[hrmsMgmtLevelNumberAdditive] [varchar](255) NULL,
	[hrmsOrgId] [varchar](255) NULL,
	[hrmsPhoneLocation] [varchar](255) NULL,
	[hrmsSKATDescription] [varchar](255) NULL,
	[hrmsSKATNumber] [varchar](255) NULL,
	[WhenCreated] [datetime] NULL,
	[WhenChanged] [datetime] NULL,
	[AttributeHash] [char](32) NULL,
 CONSTRAINT [PK_stg_UsersBackfeed_AccountsDelta] PRIMARY KEY CLUSTERED 
(
	[AdReferenceObjectGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stg_UsersBackfeed_Deleted]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_UsersBackfeed_Deleted](
	[AdReferenceObjectGuid] [varchar](256) NOT NULL,
 CONSTRAINT [PK_stg_UsersBackfeed_Deleted] PRIMARY KEY CLUSTERED 
(
	[AdReferenceObjectGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vlssp_DirectoryUsers]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vlssp_DirectoryUsers](
	[UserId] [uniqueidentifier] NOT NULL,
	[SamAccountName] [nvarchar](100) NOT NULL,
	[DisplayName] [nvarchar](200) NOT NULL,
	[Mail] [nvarchar](200) NULL,
	[Department] [nvarchar](100) NULL,
	[hrmsFunctionCategory] [nvarchar](100) NULL,
	[AccountState] [nvarchar](50) NOT NULL,
	[CreatedAtUtc] [datetime2](0) NOT NULL,
	[UpdatedAtUtc] [datetime2](0) NULL,
 CONSTRAINT [PK_vlssp_DirectoryUsers] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_vlssp_DirectoryUsers_SamAccountName] UNIQUE NONCLUSTERED 
(
	[SamAccountName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vlssp_DistributionGroupAudit]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vlssp_DistributionGroupAudit](
	[AuditId] [bigint] IDENTITY(1,1) NOT NULL,
	[GroupId] [uniqueidentifier] NOT NULL,
	[GroupDisplayName] [nvarchar](200) NOT NULL,
	[ActionType] [nvarchar](50) NOT NULL,
	[PerformedBySamAccountName] [nvarchar](100) NOT NULL,
	[AddedMembers] [nvarchar](max) NULL,
	[RemovedMembers] [nvarchar](max) NULL,
	[ResultStatus] [nvarchar](20) NOT NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[CreatedAtUtc] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_vlssp_DistributionGroupAudit] PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vlssp_DistributionGroupMembers]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vlssp_DistributionGroupMembers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[GroupId] [uniqueidentifier] NOT NULL,
	[MemberObjectId] [uniqueidentifier] NOT NULL,
	[MemberType] [nvarchar](20) NOT NULL,
	[CreatedAtUtc] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_vlssp_DistributionGroupMembers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_vlssp_DistGroupMembers] UNIQUE NONCLUSTERED 
(
	[GroupId] ASC,
	[MemberObjectId] ASC,
	[MemberType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vlssp_DistributionGroupOwners]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vlssp_DistributionGroupOwners](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[GroupId] [uniqueidentifier] NOT NULL,
	[OwnerUserId] [uniqueidentifier] NOT NULL,
	[OwnerRole] [nvarchar](20) NOT NULL,
	[CreatedAtUtc] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_vlssp_DistributionGroupOwners] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_vlssp_DistGroupOwners] UNIQUE NONCLUSTERED 
(
	[GroupId] ASC,
	[OwnerUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vlssp_DistributionGroups]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vlssp_DistributionGroups](
	[GroupId] [uniqueidentifier] NOT NULL,
	[SamAccountName] [nvarchar](100) NOT NULL,
	[DisplayName] [nvarchar](200) NOT NULL,
	[Mail] [nvarchar](200) NULL,
	[IsMailEnabled] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](0) NOT NULL,
	[UpdatedAtUtc] [datetime2](0) NULL,
 CONSTRAINT [PK_vlssp_DistributionGroups] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_vlssp_DistributionGroups_DisplayName] UNIQUE NONCLUSTERED 
(
	[DisplayName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_vlssp_DistributionGroups_SamAccountName] UNIQUE NONCLUSTERED 
(
	[SamAccountName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vlssp_stg_DistributionGroupMembers]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vlssp_stg_DistributionGroupMembers](
	[GroupId] [uniqueidentifier] NULL,
	[MemberObjectId] [uniqueidentifier] NULL,
	[MemberType] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vlssp_stg_DistributionGroupOwners]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vlssp_stg_DistributionGroupOwners](
	[GroupId] [uniqueidentifier] NULL,
	[OwnerUserId] [uniqueidentifier] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[vlssp_DirectoryUsers] ADD  CONSTRAINT [DF__vlssp_Dir__Creat__6CF8245B]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[vlssp_DistributionGroupAudit] ADD  CONSTRAINT [DF_vlssp_DistributionGroupAudit_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[vlssp_DistributionGroupMembers] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[vlssp_DistributionGroupOwners] ADD  DEFAULT ('Owner') FOR [OwnerRole]
GO
ALTER TABLE [dbo].[vlssp_DistributionGroupOwners] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[vlssp_DistributionGroups] ADD  DEFAULT ((1)) FOR [IsMailEnabled]
GO
ALTER TABLE [dbo].[vlssp_DistributionGroups] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[AccountsToGroups]  WITH CHECK ADD  CONSTRAINT [FK_AccountsToGroups_Accounts] FOREIGN KEY([AccountsId])
REFERENCES [dbo].[Accounts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccountsToGroups] CHECK CONSTRAINT [FK_AccountsToGroups_Accounts]
GO
ALTER TABLE [dbo].[AccountsToGroups]  WITH CHECK ADD  CONSTRAINT [FK_AccountsToGroups_Groups] FOREIGN KEY([GroupsId])
REFERENCES [dbo].[Groups] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccountsToGroups] CHECK CONSTRAINT [FK_AccountsToGroups_Groups]
GO
ALTER TABLE [dbo].[ManagersToGroups]  WITH CHECK ADD  CONSTRAINT [FK_ManagersToGroups_Accounts] FOREIGN KEY([AccountsId])
REFERENCES [dbo].[Accounts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ManagersToGroups] CHECK CONSTRAINT [FK_ManagersToGroups_Accounts]
GO
ALTER TABLE [dbo].[ManagersToGroups]  WITH CHECK ADD  CONSTRAINT [FK_ManagersToGroups_Groups] FOREIGN KEY([GroupsId])
REFERENCES [dbo].[Groups] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ManagersToGroups] CHECK CONSTRAINT [FK_ManagersToGroups_Groups]
GO
ALTER TABLE [dbo].[vlssp_DistributionGroupMembers]  WITH CHECK ADD  CONSTRAINT [FK_vlssp_DistGroupMembers_Group] FOREIGN KEY([GroupId])
REFERENCES [dbo].[vlssp_DistributionGroups] ([GroupId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[vlssp_DistributionGroupMembers] CHECK CONSTRAINT [FK_vlssp_DistGroupMembers_Group]
GO
ALTER TABLE [dbo].[vlssp_DistributionGroupOwners]  WITH CHECK ADD  CONSTRAINT [FK_vlssp_DistGroupOwners_Group] FOREIGN KEY([GroupId])
REFERENCES [dbo].[vlssp_DistributionGroups] ([GroupId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[vlssp_DistributionGroupOwners] CHECK CONSTRAINT [FK_vlssp_DistGroupOwners_Group]
GO
ALTER TABLE [dbo].[vlssp_DistributionGroupOwners]  WITH CHECK ADD  CONSTRAINT [FK_vlssp_DistGroupOwners_User] FOREIGN KEY([OwnerUserId])
REFERENCES [dbo].[vlssp_DirectoryUsers] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[vlssp_DistributionGroupOwners] CHECK CONSTRAINT [FK_vlssp_DistGroupOwners_User]
GO
ALTER TABLE [dbo].[vlssp_DistributionGroupAudit]  WITH CHECK ADD  CONSTRAINT [CK_vlssp_DistributionGroupAudit_ResultStatus] CHECK  (([ResultStatus]='FAILED' OR [ResultStatus]='PARTIAL' OR [ResultStatus]='OK'))
GO
ALTER TABLE [dbo].[vlssp_DistributionGroupAudit] CHECK CONSTRAINT [CK_vlssp_DistributionGroupAudit_ResultStatus]
GO
ALTER TABLE [dbo].[vlssp_DistributionGroupMembers]  WITH CHECK ADD  CONSTRAINT [CK_vlssp_DistGroupMembers_MemberType] CHECK  (([MemberType]='Group' OR [MemberType]='User'))
GO
ALTER TABLE [dbo].[vlssp_DistributionGroupMembers] CHECK CONSTRAINT [CK_vlssp_DistGroupMembers_MemberType]
GO
/****** Object:  StoredProcedure [dbo].[GetNextSamAccountName]    Script Date: 12.05.2026 11:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
